Job: "FitExample"
  Label: "Scale Uncertainty"
  CmeLabel: "13 TeV"
  LumiLabel: "XXX fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "/nfs/dust/atlas/user/grevtsok/Work/Wtt/PartLevelWqq/partlevel_ttV/trex_fit_setup/Files/"  
  NtupleName: "treeTrex"
  MCweight: "weight_tot"
  DebugLevel: 2
  SystControlPlots: TRUE
  UseGammaPulls: TRUE
  MCstatThreshold: none

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  doLHscan: SigXsecOverSM
  
Region: "SR_1"
  Type: CONTROL
  Variable: HTjet/1e3,11,0,1600
  Binning: 0,90,140,180,240,300,380,460,540,650,850,1500 
  VariableTitle: "H_{T}^{jets} [GeV]"
  HistoName: "HTj"
  VariableTitle: "H_{T} [GeV]"
  Label: "2lSS0t 1b4j"
  ShortLabel: "SR 1"
  Selection: region==0 
    
Sample: "ttW"
  Type: SIGNAL
  Title: "t#bar{t}W"
  TexTitle: "$t\bar{t}W$"
  FillColor: 2
  LineColor: 2
  NtupleFile: "skim_Sherpa_d"
 
 Systematic: ttW_scale_R05F05
  Title: ttW
  Type: HISTO         
  NtupleFilesUp: skim_SherpaScaleUp_d
  Symmetrisation: ONESIDED
  ReferenceSample:ttW
  Samples: ttW
  Category: Theory
  SubCategory:ttW modelling

 Systematic: ttW_scale_R2F2
  Title: ttW
  Type: HISTO         
  NtupleFilesUp: skim_SherpaScaleDown_d
  Symmetrisation: ONESIDED
  ReferenceSample:ttW
  Samples: ttW
  Category: Theory
  SubCategory:ttW modelling

% Weights are withtin one sample   
% Systematic: ttW_varR
%   Title: ttW_varR
%   WeightSufUp: scale_varRup/scale_nom
%   WeightSufDown: scale_varRdown/scale_nom
%   Smoothing: XXX_SMOOTHING_SCALES
%   Samples: ttW
%   Regions: XXX_REGIONS_FLOAT_TTH
%   Category: Theory
%   SubCategory: ttH modelling (acceptance)