Job: "FitExample"
  Label: "Scale Uncertainty"
  CmeLabel: "13 TeV"
  LumiLabel: "XXX fb^{-1}"
  POI: "SigXsecOverSM"
  ReadFrom: NTUP
  NtuplePaths: "/nfs/dust/atlas/user/grevtsok/Work/Wtt/PartLevelWqq/partlevel_ttV/trex_fit_setup/Files/"  
  NtupleName: "treeTrex"
  MCweight: "weight_tot"
  DebugLevel: 2
  SystControlPlots: TRUE
  UseGammaPulls: TRUE
  MCstatThreshold: none

Fit: "myFit"
  FitType: SPLUSB
  FitRegion: CRSR
  doLHscan: SigXsecOverSM
  
Region: "HTj0"
  Type: CONTROL
  Variable: HTjet/1e3,11,0,1600
  Binning: 0,90,140,180,240,300,380,460,540,650,850,1500 
  VariableTitle: "H_{T}^{jets} [GeV]"
  HistoName: "HTj"
  VariableTitle: "H_{T} [GeV]"
  Label: "2lSS0t 1b4j"
  ShortLabel: "HTj0"
  Selection: region==0 
    
Sample: "ttW"
  Type: SIGNAL
  Title: "t#bar{t}W 228"
  TexTitle: "$t\bar{t}W$ 228"
  FillColor: 2
  LineColor: 2
  NtupleFile: "skim_Sherpa228_d"
 
 Systematic: ttW_scale_R05F05
  Title: ttW_scale_R05F05
  WeightSufUp: weight_r05f05/weight_tot
  ReferenceSample:ttW
  Samples: ttW
  Category: Theory
  SubCategory:ttW modelling

 Systematic: ttW_scale_R05F1
  Title: ttW_scale_R05F1
  WeightSufUp: weight_r05f1/weight_tot
  ReferenceSample:ttW
  Samples: ttW
  Category: Theory
  SubCategory:ttW modelling

 Systematic: ttW_scale_R1F05
  Title: ttW_scale_R1F05
  WeightSufUp: weight_r1f05/weight_tot
  ReferenceSample:ttW
  Samples: ttW
  Category: Theory
  SubCategory:ttW modelling

 Systematic: ttW_scale_R1F2
  Title: ttW_scale_R1F2
  WeightSufUp: weight_r1f2/weight_tot
  ReferenceSample:ttW
  Samples: ttW
  Category: Theory
  SubCategory:ttW modelling

 Systematic: ttW_scale_R2F1
  Title: ttW_scale_R2F1
  WeightSufUp: weight_r2f1/weight_tot
  ReferenceSample:ttW
  Samples: ttW
  Category: Theory
  SubCategory:ttW modelling

 Systematic: ttW_scale_R2F2
  Title: ttW_scale_R2F2         
  %NtupleFilesUp: skim_SherpaScaleDown_d
  WeightSufUp: weight_r2f2/weight_tot
  ReferenceSample:ttW
  Samples: ttW
  Category: Theory
  SubCategory:ttW modelling
